<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.camera_plugin">
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <uses-permission android:name="android.permission.VIBRATE"/>
  <!-- <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" /> -->
</manifest>
